@import "base/base";

.m-tweets {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.2;
	margin: 10px;

	h1 {
		font-size: 22px;
		font-weight: bold;
		padding: 8px 0;
		text-align: center;
	}

	&__tweet {
		color: #333;
		padding: 10px;
		width: 100%;

		@include breakpoint($col-8) {
			display: inline-block;
			vertical-align: top;
			width: 50%;
		}

		a {
			color: #cc0000;
			text-decoration: none;
		}

		&-time {
			color: #999;
			font-size: 13px;
		}
	}
}
