<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CNN Interview Test</title>
		<meta name="description" content="CNN Interview Test">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>

		<div id="tweets" class="m-tweets"><%- reactHtml %></div>

		<script>window.__INITIAL_PROPS__ = <%- props %>;</script>
		<script src="cnn-interview-test.js"></script>

	</body>
</html>
